<h1>Welcome to Plants database</h1>

<p>This database is pretty new, so there are only a limited number of plant species recorded so far. Let's expand the list together!</p>
<br>
<a href="/plants"><img src="images/plants.jpeg" alt="plants and pots"></a>