<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Plants</title>
</head>
<body>
    <div class="container">
        <nav>
            <a href="/">Home</a>
            <a href="/plants">Plants List</a>
            <a href="/families">Plant Families List</a>
        </nav>
        <%= yield %>
    </div>


</body>
</html>