<h1>Add more plant!</h1>

<form action="/plants" method="post">
    <label>
        Name: 
        <input name="name" placeholder="Alocasia Sinuata" required>
    </label>
    <br>
    <label>
        Family: 
        <input name="family" placeholder="Arums">
    </label>
    <br>
    <label>
        Light: 
        <input name="light" placeholder="Bright indirect sunlight">
    </label>
    <br>
    <label>
        Humidity: 
        <input name="humidity" placeholder="60%-80%">
    </label>
    <br>
    <label>
        Image: 
        <input name="image" type="text">
    </label>
    <br>
    <br>
    <button>Add Plant</button>
</form>