<h1>New forest</h1>

<form action="<%= forests_path %>" method="post">
    <label>
        Forest:
        <input name="name" required>
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>

    <label>
        Country:
        <input name="country" placeholder="Brazil" >
    </label>

    <label>
        Known plant species:
        <input type="number" name="plants">
    </label>

    <label>
        Weather condition:
        <input name="weather">
    </label>

    <button>Create forest</button>
</form>