<%# Intro page into the website %>

<h1>Japanese Animation Studios</h1>

<div class="home_container">

    <img class="home_image"src="https://qph.cf2.quoracdn.net/main-qimg-f40dede5b635ff71f5d286fcf1a628ef" alt="Demon Slayer">

    <p class="home_text">Discover the Magic Behind Japanese Animation Studios. Anime studios are the heart and soul of the anime industry, and we are here to provide you with a brief overview into the world of these creative powerhouses. Learn about the iconic anime studios that have brought your favorite anime shows and movies to life.<br>
    <a href="/studios"><button class="home_button">Let's get started!</button></a></p>

</div>
