<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animation Studios</title>
    <link rel="stylesheet" href="/css/dishes.css">
    <link rel="icon" type="image/x-icon" href="/img/studios_favicon.png">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&family=Thasadith&display=swap');
    </style>
    
</head>


<body>  
    <div class="top_banner">
        <p class="banner_text">Anime Studio Guide 🍿</p>
    </div>
    <div class="nav_background">
        <div class="nav_width">

                <nav>
                    <a class="nav_effect" href="/">Home</a>
                    <a class="nav_effect" href="/studios"> Studios</a>
                    <a class="nav_effect" href="/studios/new">Add a Studio</a>
                    <a class="nav_effect" href="/animes">Animes</a>
                    <a class="nav_effect" href="/animes/new">Add a Anime</a>
                </nav>

            </div>
    </div>
        <div class="container">

            

            <%= yield %>        
        </div>
    
</body>
</html>