
<h1><%= @title %></h1>
<section>
<h3><u>Cover</u></h3>
<img id="book_cover" src=<%= @book_cover %>>
<h3><u>Author/Authors</u></h3>
<h3><%= @formatted_authors %></h3>
</section>

<section id="summary">
<h3><u>Summary</u></h3>
<%= @book_synopsis %>
</section>

