<h2>Book Selection</h2>
<p>Please select a book to retrieve</p>
<form action=/book_result>
    <label>
        <input name="book_name" placeholder="Jaws" required>
    </label>

    <label>
            <button>Submit</button>
    </label>
</form>