<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Cover</title>
</head>
<body>
    <h1>Show Me The Book Cover</h1>

    <!-- before yield -->
    <%= yield %>
    <!-- after yield -->

</body>
</html>