<h1>New Car</h1>

<form action="/cars" method="post">
    <label>
        Make:
        <input name="make" required placeholder="Toyota">
    </label>

    <label>
        Model:
        <input name="model" placeholder="Supra">
    </label>

    <label>
        Series:
        <input name="series" placeholder="Mk4">
    </label>
    
    <label>
        Year:
        <input name="year" placeholder="1999">
    </label>
    
    <label>
        Image:
        <input type="url" name="image">
    </label>

    <button>Create Car</button>
</form>