    <form action="/info"> 
        <label>
            Book Title:
            <input name="book_title" placeholder = "Jaws" required>
        </label>

        <button>See Cover!</button>
    
    </form>
