<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cover Search</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="stylesheet" href="/css/cover.css">
</head>
<body>
    <div class="container">
        <h1>Cover Search</h1>
        <nav>
            <a href="/">Home</a>
            
        </nav>
        <%= yield %>
    </div>
</body>
</html>