<h1>New ocean</h1>

<form action="<%= oceans_path %>" method="post">
    <label>
        Name:
        <input name="name" required>
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>

    <label>
        Surface Area:
        <input type="number" name="surface_area">
    </label>

    <label>
        Water Volume:
        <input type="number" name="water_volume">
    </label>
 
    <button>Create ocean</button>
</form>