<h3>Add director to database</h3>

<form action="/directors" method="post">
    <label>
        Director's Name:
        <input name="name" placeholder="Steven Spielberg" required>
    </label>

    <label>
        Nationality:
        <input name="nationality" placeholder="American" required>
    </label>
    <label>
        Image URL:
        <input type="url" name="image" id="data_image" placeholder="URL" required>
    </label>

    <button>Submit</button>
</form>

