<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/astronomy_css.css">
    <title>Astronomy Database</title>
</head>
<body>
    <div id="container">

        <h1>Astronomy Database</h1>

        <nav>
            <a class="nav_links" href="/">Home</a>
            <a class="nav_links" href="/astronomy-database">Database</a>
        </nav>

        <%= yield %>

    </div>
</body>
</html>