<h1>Add Director</h1>

<form action="/directors" method="post">
    <label>
        Name:
        <input name="name" required placeholder="First / Last">
    </label>

    <label>
        Age:
        <input name="age" placeholder="50">
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>

    <button>Sent it!</button>
</form>