<h1>Add Film</h1>

<form action="/films" method="post">
    <label>
        Title:
        <input name="title" required placeholder="Film Title">
    </label>

    <label>
        Release Year:
        <input name="releaseyr" placeholder="2010">
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>

    <button>Sent it!</button>
</form>