<h1> SEI-64 Homework Task </h1>
<p> 17/04/2023 </p>

<p> Please feel free to review the films that I have documented. I have documented them because these were absolutely the first few that I could think of. </p>

<h3> Yar Pirate Ipsum </h3>
<p>Broadside Buccaneer hogshead Corsair lad bucko list gabion American Main killick. To go on account Jack Ketch flogging dance the hempen jig six pounders reef aye lass galleon fire ship. Gangplank Brethren of the Coast scuppers yo-ho-ho lugsail me avast aft run a rig landlubber or just lubber.

Chain Shot loot pink square-rigged reef sails log rigging list nipper bucko. Rum Corsair sutler swab bounty fathom prow heave down me weigh anchor. Hornswaggle crimp lass smartly jack lad scuttle jib Chain Shot Yellow Jack.

Lad bounty case shot keel ballast Nelsons folly draft coffer spyglass take a caulk. Doubloon lass killick galleon sheet furl scurvy plunder Letter of Marque aft. Jolly Roger pillage dead men tell no tales Cat o'nine tails rutters splice the main brace ballast scuttle topsail hang the jib. </p>