@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100&display=swap');


body {
    background-image: url("/img/library.jpg");
    background-size: cover;
}

.container {
    background-color: rgba(174, 72, 25, 0.75);
    border-radius: 1em;
    max-width: 960px;
    padding: 1em;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    font-family: 'Chivo Mono', monospace;


}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

nav {
    font-size: 24px;
}

#book_cover {
    padding: 1em;
    display: block;
    width: 18%;
    margin: 0 auto;
}

button {
    background-color: brown;
    color: rgb(255, 255, 255);
    border-radius: 5px;
}