<h1>New author</h1>

<form action="/authors" method="post">
    <label>
        Name:
        <input name="name" required placeholder="Charles Dickens">
    </label>

    <button>Create author</button>


</form>