<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PokeApi</title>
</head>
<body>
  <h1>Type a pokemon name</h1>
  <form action="/pokemon" method="get">
    <label>
      <input type="text" name="pokemon" placeholder="ditto">
    </label>
    <button>submit</button>
  </form>
</body>
</html>