<h1>All Animes</h1>
<br>

<% @animes.each do |anime| %>
        <%= link_to anime.name, anime, :class => "show_list" %>
        <%= link_to image_tag(anime.image, :class => "index_image"), anime %>
<% end %>
