<form action="/info">
    <label>
        Book name:<br>
        <input name="book_title" placeholder="Jaws" required id="my_input">
    </label>

    <button>Search</button>
</form>

<div class="cover_pic">
    <img class="cover" src="/img/book.svg">
</div>

   