
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Cover</title>
    <link rel="stylesheet" href="/css/book.css">
    <link rel="icon" type="image/x-icon" href="/img/book_icon.png">
</head>
<body>

    <div class="container">
        <nav>
            <a href="/">Home</a>
        </nav>

        <h1>Book Cover</h1>

        <!-- before yield -->
        <%= yield %>
        <!-- after yield -->
    </div>
    
</body>
</html>


