<h1>New game</h1>

<form action="/items" method="post">

    <label>
        Name:
        <input name="name" placeholder="Stardey Valley" required>
    </label>

    <label>
        Genre:
        <input name="genre" placeholder="Action" required>
    </label>

    <label>
        Played:
        <input name="played" placeholder="true or false">
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>

    <button>Add game to database</button>

</form>