<h2>Search by filter; one input field will search by that filter only, both input fields will search by both filters.</h2>

<form action="/items/search_results" method="post">

    <label>
        Search by Genre:
        <input name="genre" placeholder="Action">
    </label>

    <label>
        Search by played or not:
        <input name="played" placeholder="true">
    </label>

    <button>Search</button>

</form>