<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
        <link rel="stylesheet" href="/css/items.css">
        <title>The Game Report</title>
        
    </head>

    <body>

        <div class="container">

            <nav>
            
                <a href="/">Home</a>
                <a href="/items">All games</a>
                <a href="/items/new">Add game</a>
                <a href="/items/search">Search game</a>
                
            </nav>

            <h1>The Game Report<h1>

            <%= yield %>

        </div>

    </body>

</html>