<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stocks</title>
</head>
<body>
    <form action="/stock-info">
        <label>
            Enter a Ticker Symbol:
            <input type="text" name="stock" placeholder="GOOGL">
        </label>
        <button>Submit</button>
    </form>
</body>
</html>