<h1>New Shape</h1>

<form action="<%= shapes_path %>" method="post">
    <label>
        Name:
        <input name="name" required>
    </label>

    <label>
        Number of Corners:
        <input type="number" name="corners" required>
    </label>

    <label>
        Number of Edges:
        <input type="number" name="edges" required>
    </label>

    <button>Create Shape</button>

</form>