<h1>Add New Sneaker</h1>

<form action="/sneakers" method="post">
    <label>
        Brand
        <input name="brand" required placeholder="nike">    
    </label>

     <label>
        Model
        <input name="model" required placeholder="Air Jordan 1">    
    </label>

     <label>
        Colourway
        <input name="colourway" required placeholder="Black/Red">    
    </label>

     <label>
        Size
        <input name="size" required placeholder="8">    
    </label>
    
    <label>
        Original Release Year
        <input name="ogrelease" placeholder="1986">    
    </label>
    
    <label>
        Release Date
        <input name="release" placeholder="15/01/2011">    
    </label>

    <label>
        Style <Code></Code>
        <input name="stylecode" placeholder="AB12345-000">    
    </label>
     
    <label>
        Image
        <input type="url"  name="image">    
    </label>

    <button>Add New Sneaker</button>
</form>