<h1>New country</h1>

<form action="/countries" method="post">
    <label>
        Name:
        <input name="name" required placeholder="Enter new country name here">
    </label>

    <label>
        Continent:
        <input continent="continent" required placeholder="Enter continent">
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>

    <button>Create Country</button>
</form>