<h1>New dish</h1>

<form action="/dishes" method="post">
    <label>
        Name:
        <input name="name" required placeholder="Enter name of dish">
    </label>

    <label>
        Origin Country:
        <input origin_country="origin_country" required placeholder="Enter origin country">
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>

    <button>Create Dish</button>
</form>