<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Countries and Dishes</title>
    <link rel="stylesheet" href="/countries.css"> <style>
    @import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,600;1,100&display=swap');
    </style>
    </head>
    <body>
        <div class = "container" >
        <nav>
        <a href="/countries">All countries</a>
       <a href="/countries/new">New country</a>
        |
        <a href="/dishes">All dishes</a>
        <a href="/dishes/new">New dishes</a>

        </nav>
<%=yield%>
</div>
    
</body>
</html>