
    <h1> Books </h1>

    <form action="/bookcover">
        <label>
        <input type="text" name="title" placeholder="Enter a book title" required >
        </label>

        <button>Search!</button>
