<p> New Team</p>

<form action="/teams" method="post">
    <label> 
        Name:
        <input name="name" required placeholder="New York">
    </label>

    <label>
    Family: 
    <input name="mvp" placeholder="Julius Randle">
    </label>

    <label>
    Image:
    <input type="url" name="image">
    </label>

    <button>Create Team</button>

</form>