body {
    background-color: teal;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}

.thumb {
    height: 12em;
    width: auto;
}

.feature {
    height: 30em;
    width: auto;
}

a {
    text-decoration-line: none;
    margin: 0px 10px 0px 10px;
}

ul {
    list-style-type: none;
}

label {
    display: block;
}

input {
    display: block;
    margin: 10px auto;
}


