body {
    background-color: burlywood;
}

.vote-options {
    text-align: center;
    margin-top: 50px;
}

#vote-up-btn {
    background-color: rgb(255, 166, 0);
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

#image-to-view {
    max-width: 100%;
    height: auto;
    margin-top: 50px;
    border-radius: 8px;
}