<h1>New color</h1>

<form action="/colors" method="post">
    <label>
        Name:
        <input name="name" required placeholder="Black">
    </label>

    <label>
        Likeability:
        <input name="likeability" required placeholder="Out of 10">
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>

    <button>Create Color</button>
</form>