<h1>New flower</h1>

<form action="/flowers" method="post">
    <label>
        Name:
        <input name="name" required placeholder="Rose">
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>

    <button>Create Flower</button>
</form>