<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colors</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    
    <div class="container">
    <nav>
        <a href="/colors">All Colors</a>
        <a href="/colors/new">New Colors</a>
        |
        <a href="/flowers">All Flowers</a>
        <a href="/flowers/new">New Flowers</a>
    </nav>
        <%=yield%>
    </div>

</body>
</html>