<%# <h1>Book Cover Searcher</h1> %>

<form action="/info">
    <label>
        Book Title:
        <input name="book_title" placeholder="Jaws" required>
    </label>
    <button>Search!</button>
</form>
<img class="cover" src="/img/medium-is-the-massage.jpg">