<h1>New wine</h1>

<form action="<%= wines_path %>" method="post">
    <label>
        Name: 
        <input name="name" required>
    </label>

    <label>
        Image: 
        <input type="url" name="image">
    </label>

    <label>
        Region: 
        <input name="region">
    </label>

    <label>
        Main Varietal: 
        <input name="main_varietal">
    </label>

    <label>
        Color: 
        <input name="color">
    </label>

<button>Create wine</button>
</form>