<form action="/artists" method="post">

    <label>

        Name:
        <input name="name" placeholder="Bob" required>

    </label>

    <label>
    
        Alive:
        <input name="alive" placeholder="0 (false) / 1 (true)">

    </label>

    <label>
    
        Image Link:
        <input name="image" type="url">
    
    </label>

    <button>Add artist</button>

</form>