<form action="/songs" method="post">

    <label>

        Name:
        <input name="name" placeholder="Chop Suey" required>

    </label>

    <label>

        Artist:
        <input name="artist" placeholder="System Of A Down" required>

    </label>

    <label>
    
        Genre:
        <input name="genre" placeholder="Metal">
    
    </label>

    <label>
    
        Duration:
        <input name="duration" placeholder="3.50 (minutes)">

    </label>

    <label>
    
        Image Link:
        <input name="youtube">
    
    </label>

    <button>Add song</button>

    <p>Please pick an existing artist in the database.</p>

</form>