<h1>Edit Flower</h1>

<form action="/flowers/<%= @flower["id"] %>" method="post">
    <label>
        Name:
        <input name="name" required value="<%= @flower["name"] %>">
    </label>

    <label>
        Season:
        <input name="season" required value="<%= @flower["season"] %>">
    </label>

    <label>
        Lifespan:
        <input type="number" step="0.01" required value="<%= @flower["lifespan"] %>">
    </label>

    <button>Submit</button>
</form>