<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Lookup!</title>
</head>
<body>
    <h1>Please Enter a Stock Ticker!</h1>
    <form action="/answer">
        <label>
            Ticker:
            <input name="question" placeholder="Eat the rich">
        </label>
        <button>Send</button>
    </form>
</body>
</html>