<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <title>homework</title>
</head>
<body>
    <h1>Express is a thing</h1>   
        <h2>Here is a random number: <%= Math.random() %></h2>
        <h3>Here is a random brother: <%= randomBrother %></h3>
</body>
</html>