<h1>New Pokemon</h1>

<form action="/pokemons" method="post">
    <label>
        Name:
        <input name="name" required placeholder="Pikachu">
    </label>
    
    <label>
        Type:
        <input name="type" placeholder="Electric">
    </label>

    <label>
        Gender:
        <input name="gender" placeholder="F">
    </label>

    <label>
        Weight:
        <input name="weight" placeholder="7.1kg">
    </label>

    <label>
        Height:
        <input name="height" placeholder="0.43m">
    </label>
    
    <label>
        Image:
        <input type="url" name="image">
    </label>

    <button class="create">Create Pokemon</button>


</form>