<link rel="stylesheet" href="/homepage.css">

<div class="homepage">
    <h1>Playlist</h1>
    <h2>Add and Edit to build an ultimate play list for universal occasions</h2>

    <p>What a party that was and it will be with a playlist that will not let you take a break. IT IS THAT GOOD. Add and Edit the list and you can even kill that fun by deleting songs from a list. Join to make a non-stop fun.</p>
</div>