<h1 class="addedit">Add to playlist for the future dance floor</h1>

<form action="/playlist" method ="post">
    <label>
    Artist:
    <input name="artist" placeholder ="Orange Juice" required>
    </label>
    
    <label>
    Title:
    <input name="title" placeholder="My dying day" required>
    </label>

    <label>
    Image:
    <input type="url" name="image"></label>

    <button>Add to the playlist</button>
</form>
