<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Books</title>
</head>
<body>
    <div class="container">
        <h1>Book Covers</h1>
        <nav>
            <a href="/">Home</a>
        </nav>

        <form action="/info">
            <label>
                Book Title:
                <input name="book_title" placeholder="Jaws" required>
            </label>
            <button>Click!</button>
        </form>

        <%= yield %>

    </div>
</body>
</html>