<h1>New eucalypt</h1>

<form action="/eucalypts" method="post">
    <label>
        Name:
        <input type="text" name="name" required placeholder="Blue Gum">
    </label>

    <label>
        Family:
        <input type="text" name="family" placeholder="globulus">
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>

    <button>Create eucalypt</button>
</form>