body {
    background-color: beige;
    font-family: 'Prompt', sans-serif;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    display: grid;
}

.thumb {
    height: 12em;
}

.feature {
    max-height: 30em;
}

label {
    display: block;
}