<h1>New Car</h1>

<form action="/cars" method="post">
    
    <label>
        Name
        <input name="name" required placeholder="F8">    
    </label>
    
    <label>
        Year
        <input name="year"  placeholder="2022">    
    </label>
    
    <label>
        Layout
        <input name="layout"  placeholder="4WD">    
    </label>
    
    <label>
        Engine
        <input name="engine"  placeholder="V8 4.0L">    
    </label>

     <label>
        Power
        <input name="power"  placeholder="500 kW">    
    </label>

    <label>
        Weight
        <input name="weight"  placeholder="1500 kg">    
    </label>
    
    <label>
        Image
        <input type="url"  name="image">    
    </label>

    <button>Create Car</button>
</form>