<h1>New Manufacturer</h1>

<form action="/manufacturers" method="post">
    
    <label>
        Name
        <input name="name" required placeholder="Ferrari">    
    </label>
    
    <label>
        Country of Origin
        <input name="country"  placeholder="Italy">    
    </label>
    
    <label>
        Year Founded
        <input name="yearfounded"  placeholder="1939">    
    </label>
    
    <label>
        Founder
        <input name="founder"  placeholder="Enzo Ferrari">    
    </label>
    
    <label>
        Website
        <input type="url"  name="website">    
    </label>

    <label>
        logo
        <input type="url"  name="logo">    
    </label>

    <button>Create Manufacturer</button>
</form>