<h1>New player</h1>

<form action="/players" method="post">
    <label>
        Name:
        <input name="name" required placeholder="Lionel Messi">
    </label>

    <label>
        Birthplace:
        <input name="birthplace" placeholder="Rosario">
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>

    <button>Create player</button>
</form>