<h1>New team</h1>

<form action="/teams" method="post">
    <label>
        Name:
        <input name="name" required placeholder="Arsenal F.C.">
    </label>

    <label>
        Motto:
        <input name="motto" required placeholder="Victoria Concordia Crescit">
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>

    <button>Create team</button>
</form>