<h1>Book searcher</h1>

<form action="/result">
    Book Title:
    <input type="text" name="book" placeholder="I Love Ruby" required>
    <button>Search</button>

</form>

<footer>
<h6>Source from Google books search API</h6>
</footer>