<h1>Welcome to our Yum Cha Guide!</h1>
<p class="faq_p">Here are some common questions and answers that may help you make the most of your yum cha experience at our restaurant.</p>

<hr>

<h4 class="faq_p">Q: What is yum cha?</h4>
<p>A: Yum cha is a traditional Cantonese-style tea brunch that originated in Guangzhou, China. It typically involves enjoying a variety of small, bite-sized dishes served in steamer baskets, accompanied by a selection of Chinese teas. Yum cha is known for its wide array of delicious dim sum dishes, such as dumplings, buns, rice rolls, and more.</p>


<hr>

<h4 class="faq_p">Q: How do I place an order at yum cha?</h4>
<p>A: When you arrive at our restaurant, you will be seated at a table. Our servers will bring around carts or trays with steamer baskets filled with various dim sum dishes. You can choose the dishes you want to try and simply point or ask the server to bring them to your table. The dishes will be marked on your order sheet or tally card, which the server will use to calculate your bill.</p>

<hr>

<h4 class="faq_p">Q: How is yum cha typically served?</h4>
<p>A: Traditionally, yum cha is served in small, bamboo steamer baskets that are stacked on plates and brought to your table. The steamer baskets are opened to reveal the delicious dim sum inside, and you can choose the dishes you want to try.</p>

<hr>