<%# Intro page into the website %>

<h1>Yum Cha Dishes</h1>

<div class="home_container">

    <img class="home_image"src="https://imgix.theurbanlist.com/content/article/013A4600_16a0f20d049e3ead884c7a9283ce09af_1.jpg" alt="Yum Cha Food">

    <p class="home_text">Explore the rich flavors and cultural heritage of Yum Cha, the beloved Chinese tradition of enjoying tea and dim sum, with our comprehensive online guide. Whether you're a seasoned Yum Cha enthusiast or new to this culinary experience, our guide is your go-to resource for all things 
    Yum Cha.
    <a href="/dishes"><button class="home_button">Let's get started!</button></a></p>

</div>
<%# include botton and link to dishes_index??%>