<h1>New mountain</h1>

<form action="<%= mountains_path %>" method="post">
<label>
Name: 
<input name="name" required>
</label>

<label>
Image:
<input name="url" name="image">
</label>

<label>
Tallest height:
<input name="number" name="highpoint">
</label>

<label>
First person recorded to climb it:
<input name="name" name="climber">
</label>

<label>
When they climbed it:
<input name="number" name="date">
</label>

<button>Create mountain</button>