    <p> check link </p>
    
    <form action="/cover">
        <label>
        Enter the book name to find the cover
        <input type="text" name="book_name" placeholder="The Wizard of Oz" required>
        </label>

        <button>See the cover!</button>       
    </form>