<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scales=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
        <title>Book Images</title>
    </head>

    <body>

        <h1>Book Images</h1>

        <nav>
            <a href="/">Home</a>
        </nav>

        </br>

        <%= yield %>

        <footer>
            &copy; Wrecked Systems
        </footer>
    </body>

</html>