body{
    background-image: url('https://media.cnn.com/api/v1/images/stellar/prod/230320112730-04-donald-trump-file.jpg?c=16x9&q=h_720,w_1280,c_fill');
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    font-size: 100%;
    text-align: center;
}
h1{
    color: white;
}
p{
    text-align:center;
    font-size: 150%;
}
.result{
    background-color: #000;
    color: #fff;
    opacity: .5;
    height: 35em;
}