<h1>New Brand</h1>

<form action="/brands" method="post">
    <label>
        Brand: 
        <input name="name" placeholder="Mazda" required>
    </label>
    <br>
    <label>
        Origin: 
        <input type="text" name="origin" placeholder="Japan">
    </label>
    <br>
    <label>
        Logo: 
        <input type="url" name="logo">
    </label>
    <br>
    <br>
    <button>Create Brand</button>
</form>