<h1>New Car</h1>

<form action="/cars" method="post">
    <label>
        Model: 
        <input name="model" placeholder="CX-5" required>
    </label>
    <br>
    <label>
        Brand: 
        <input type="text" name="brand" placeholder="Mazda">
    </label>
    <br>
    <label>
        Photo: 
        <input type="url" name="image">
    </label>
    <br>
    <label>
        Brand: 
        <select name="brand_id">
            <option></option>
            <% Brand.all.each do |brand| %>
                <option value="<% brand.id %>"><%= brand.name %></option>
            <% end %>
        </select>
    </label>
    <br>
    <br>
    <button>Create Car</button>
</form>