<h1> Edit Author</h1>

<form action="/authors/<%= @author.id %>" method="post">

    <label>
        Name:
        <input name="name" required placeholder="J.K.Rowling" value="<%= @author.name%>">
    </label>

    <label>
        Hometown:
        <input name="hometown" placeholder="Yate" value="<%= @author.hometown%>">
    </label>

    <button>
    Update Author
    </button>

</form>