<h1>New brand</h1>

<form action="/brands" method="post">
    <label>
        Company:
        <input name="company" placeholder="Nike">
    </label>

    <label>
        Category:
        <input name="category" placeholder="sportswear">
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>

    <button>Create brand</button>  
</form>