<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fashion Archives</title>
    <link rel="stylesheet" href="/css/brands.css" type="text/css">
</head>

<body>
    <div class="container">
        <nav>
            <a href="/brands">All brands</a>
            <a href="/brands/new">New brands</a>
            |
            <a href="/shoes">All shoes</a>
            <a href="/shoes/new">New shoe</a>
        </nav>
        <%= yield %>
    </div>

</body>
</html>