<h1>New shoe</h1>

<form action="/shoes" method="post">
    <label>
        Company:
        <input name="name" placeholder="Air Max 1">
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>

    <button>Create shoe</button>  
</form>