<h1>New player</h1>
<form action="/players" method="post">
    <label>
        Name:
        <input name="name" required placeholder="Tyrese Haliburton">
    </label>

    <label>
        Position:
        <input name="position" placeholder="Poing Guard">
    </label>

    <label>
        Image:
        <input type='url' name="image">
    </label>
    <button>Add Player!</button>
</form>