<h1> New Character</h1>

<form action="/harrypotter" method="post">
    <label>
        Name:
        <input name="name" required placeholder="Luna">
    </label>
    <label>
        House:
        <input name="house" placeholder="Hufflepuff">
    </label>
    <label>
        Blood Type:
        <input name="bloodtype" placeholder="Pure Blood">
    </label>

    <button>
    Create Character
    </button>

</form>