<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pasta</title>
    <link rel="stylesheet" href="/css/pastas.css">
    <style>
  @import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,600;1,100&display=swap');
  
</style>
</head>
<body>
<div class = "container" >
    <nav>
        <a href="/pastas">All Pasta</a>
        <a href="/pastas/new">New Pasta</a>
    </nav>

    <%=yield%>

</div>
    
</body>
</html>

