<h1>New Pasta</h1>

<form action="/pastas" method="post">
    <label>
        Name:
        <input name="name" required placeholder="Type pasta name here">
    </label>
    
    <label>
        Region:
        <input name="region" placeholder="Type pasta region here">
    </label>
    
    <label>
        Image:
        <input type="url" placeholder="Add image URL here" name="image">
    </label>

    <button>Create Pasta</button>
</form>