<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <h1>Hello from the home screen</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit quisquam temporibus natus! Est ipsum similique dolore facilis? Fuga illum, repellendus facere minus blanditiis rerum quisquam culpa, ad animi, ducimus dolores?</p>
</head>
<body>
    
</body>
</html>