<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Price Look up</title>
</head>
<body>

    <h1>Checking Price for <%= company %> (<%= stock %>)</h1>
    <h2>Previous close Price is <%= price %></h2>
</body>
</html>