<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stock Form</title>
</head>
<body>
  <h1>Form</h1>
  <form action="/answer" method="get">
    <label>
      Stock Code:
      <input name="code" placeholder="GOOGL">
    </label>
    <button>submit</button>
  </form>
</body>
</html>