<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">

</head>
<body>
    <h1>Check your shipping emissions!</h1>
    <form action="/emissions">
        <label>
            Weight (kg):
            <input name="weight" placeholder="45">
        </label>
        <label>
            Distance (km):
            <input name="distance" placeholder="2000">
        </label>
        <label>
            Transport Method (ship, train, truck or plane):
            <input name="method" placeholder="Truck">
        </label>
        <button>Check</button>
    </form>
</body>
</html>