<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Okra</title>
    <link rel="stylesheet" href="/css/okra.css">
</head>
<body>
<div class="container">
    <nav>
        <a href="/okra">All okra</a>
        <a href="/okra/new">New okra</a>
    </nav>
    <%= yield %>
</div>
