<h1>New Okra</h1>
<form action="/okras" method="post">
    <label>
        Name:
        <input name="name" required placeholder="Lady Finger">
    </label>
    <label>
        Family:
        <input name="family" placeholder="Abelmoschus">
    </label>
    <label>
    Image:
    <input type="url" name="image">
</label>

<button>Create Okra</button>
</form>


