<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soccer Teams</title>
    <link rel="stylesheet" href="/css/teams.css">
</head>
<body>
    
    <div class="container">
        <nav>
            <a href="/teams">All Teams</a>
            <a href="/teams/new">New Team</a>
            |
            <a href="/players">All Players</a>
            <a href="/players/new">New Player</a>
        </nav>
        <%= yield %>
    </div>

</body>
</html>