<h1>New Player</h1>

<form action="/plants" method="post">
    <label>
        <input name="name" required placeholder="Cristiano Ronaldo">
    </label>

    <label>
        <input name="position" required placeholder="CF">
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>
    <button>Create Player</button>
</form>