<h1>New Team</h1>

<form action="/teams" methods="post">
    <label>
        Name:
        <input name="name" required placeholder="Manchester-United">
    </label>

    <label>
        Country:
        <input name="country" required placeholder="England">
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>

        <button>Create Team</button>
</form>