<h1>All Teams</h1>

<%# # this loop is controling how many times it's looping/paragraphs there will be %>
<% @teams.each do |team| %>
    <p>
        <a href="/teams/<%= team.id %>">
            <%= car.name %>
        </a>
    </p>
<% end %>