<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Wall Street</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>
<body>
    <div class="container">
        <h1>Express Stock Price Checker</h1>
        <form action="/info" method="get">
            <label>
                stock price:
                <input name="stockName" placeholder="GOOG">
            </label>
            <button>Submit</button>
        </form>
    </div>
<footer>@ Copyright We Become What We Behold.</footer>
</body>
</html>