<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footyteams</title>
    <link rel="stylesheet" href="/css/footyteams.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">    
</head>
<body>
    
    <div class="container">
        <nav>
            <a href="/footyteams">All footyteams</a>
            <a href="/footyteams/new">New Club</a>
            |
            <a href="/players">All players</a>
             <a href="/players/new">New players</a>
        </nav>
        <%= yield %>
    </div>

</body>
</html>