<h1>New player</h1>

<form action="/players" method="post">
    <label>
        Name:
        <input name="name" required placeholder="League">
    </label>

    <label>
        Family:
        <input name="family" placeholder="Club Name">
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>

    <button>Create player</button>
</form>