<h1>New Manga</h1>

<form action="<%= mangas_path %>" method="post">
    <label class="input_heading" >
        Name:
        <input name="name" required>
    </label><br>

    <label class="input_heading" >
        Authors:
        <input name="authors" required>
    </label><br>

    <label class="input_heading" >
        Status:
        <select name="status" required>
            <option>Ongoing</option>
            <option>Finished</option>
        </select>
    </label><br>

    <label class="input_heading" >
        Published Year:
        <input name="published" type="number" min="1000" max="9999">
    </label><br>

    <label class="input_heading" >
        Description:<br>
        <textarea name="description" rows="2" cols="114"  placeholder="A high-school student discovers a supernatural notebook that grants its user the ability to kill."></textarea>
    </label><br>

    <label class="input_heading" >
        Image:
        <input type="URL" name="image">
    </label><br>

    
    <button class="edit_buttons">Create Manga</button>
</form>