<h1>New game<h1>

<form action="/games/<%= @game["id"]%> " method="post">
    <label>
        Game:
        <input name="name" placeholder="Borderlands" value ="<%= @game["name"] %>">
    </label>

    <label>
        Genre:
        <input name="genre" plaeholder="RPG" value="<%= @game["genre"] %>">
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>

    <button>Create game</button>
</form>