<h1>New game<h1>

<form action="/games" method="post">
    <label>
        Game:
        <input name="name" placeholder="Borderlands">
    </label>

    <label>
        Genre:
        <input name="genre" plaeholder="RPG">
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>

    <button>Create game</button>
</form>