<h1>New Car</h1>

<form action="/formula_1" method="post">
    <label>
        Model:
        <input name="model" required placeholder="W11">
    </label>

    <label>
        Team:
        <input name="team" placeholder="Mercedes-AMG Petronas F1 Team">
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>

    <button>Create Car</button>
</form>