<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formula 1 Cars</title>
    <link rel="stylesheet" href="/css/formula_1.css">
</head>
<body>
    
    <div class="container">
        <nav>
            <a href="/formula_1">All Formula 1 Cars</a>
            <a href="/formula_1/new">New Formula 1 Car</a>
        </nav>
        <%= yield %>
    </div>

</body>
</html>