<h1>New company</h1>

<form action="/companies" method="post">
    <label>
        Name:
        <input name="name" required placeholder="Toyota">
    </label>

        <label>
        Image:
        <input type="url" name="image">
    </label>

    <button>Create company</button>
</form>