<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars</title>
    <link rel="stylesheet" href="css/car.css">
</head>
<body>
    
    <div class="container">
        <nav>
            <a href="/companies">All companies</a>
            <a href="/companies/new">New company</a>

            <a href="/models">All models</a>
            <a href="/models/new">New model</a>
        </nav>
        <%= yield %>
    </div>

</body>
</html>

<%# Why is CSS not working and being called?? And CSS keeps breaking when links are clicked. %>