<h1>New model</h1>

<form action="/models" method="post">
    <label>
        Name:
        <input name="name" required placeholder="Corolla">
    </label>

    <%# <label>
        Family:
        <input name="family" placeholder="Skipper">
    </label> %>

    <label>
        Image:
        <input type="url" name="image">
    </label>

    <button>Create model</button>
</form>