<h1>Honda</h1>

<form action="/jdmcars" method="post">
<label>
Name:
<input name="name" required placeholder="Manufacturer">
</label>

<label>
    Family:
    <input name="family" placeholder="Model">
</label>

<label>
    Image:
    <input type="url" name="image">
    </label>

    <button>SkrtSkrtttttt</button>
</form>

