
<nav>
    <a href="/clubs">Clubs list</a>
</nav>

<h1>Add Clubs to the list</h1>

<form action="/clubs" method="post">

    <label for="club_name">
        Club:
        <input name="club_name" required placeholder="Club Name">
    </label>

    <label for="club_name">
        Player:
        <input name="player"  placeholder="Player Name">
    </label>

    <label for="club_name">
        Club Logo:
        <input name="url"  placeholder="Link for club logo">
    </label>

    <div>
        <button>Add Club</button>
    </div>

</form>