<h1>Add groups</h1>

<form action="/groups" method ="post">
    <label>
    WHO:
    <input name ="name" placeholder ="josefK" required>
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>

    <button>Add</button>
</form>