<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>songs</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Poppins:wght@300;900&family=Righteous&family=Rubik+Wet+Paint&display=swap" rel="stylesheet">   
    <link rel="stylesheet" href="css/songs.css">
</head>
<body>
    <div class="container">
        <nav>
        <a href="/">Home</a>
        <a href="/songs">Songs</a>
        <a href="/songs/new">Add More Songs</a>
        |
        <a href="/groups">The Groups</a>
        <a href="/groups/new">Add new group</a>
        </nav>
        <%= yield %>
    </div>
</body>
</html>