<h1>Add to the song lists</h1>

<form action="/songs" method ="post">
    <label>
    Song Title:
    <input name ="title" placeholder ="Karen" required>
    </label>

    <label for="">
        Image:
        <input type="url" name="image">
    </label>

    <button>Add to the list</button>
</form>