<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Checker</title>
</head>
<body>
    <h1>Stock Checker</h1>
    <form action="/result">
        <label>
            Stock Code:
            <input name="stock_code" placeholder="GOOG">
        </label>
        <button>Submit</button>
    </form>
</body>
</html>