<form action="/teams" method="post">
    <label>
        Name:
        <input name="name" required placeholder="Indiana Pacers">
    </label>

    <label>
        City:
        <input name="city" placeholder="Indianapolis">
    </label>

    <label>
        Image:
        <input type='url' name="image">
    </label>
    <button>Add Team!</button>
</form>