<h1>New Mountain</h1>

<form action="<%= planets_path %>" method="post">
    <label>
        Name:
        <input name="name" required>
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>

    <label>
        Elevation:
        <input type="number" name="elevation">
    </label>

    <label>
        Diameter:
        <input type="number" name="diameter">
    </label>

    <label>
        Country:
        <input type="number" name="country">
    </label>

    <label>
        Type:
        <input type="number" name="type">
    </label>

    <label>
        First-Ascent:
        <input type="number" name="first-ascent">
    </label>

    <button>Create planet</button>
</form>